<!-- menu.component.html -->
<div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="container-sm d-flex align-items-center justify-content-center">
  <div *ngIf="menuData">
    <h2 class="menu-title">Menú del Restaurante</h2>
    <hr>
    <p>Elige cuantas comidas para la recomendacion quieres</p>
    <select class="form-select" aria-label="Default select example">
      <option selected>1</option>
      <option value="1">2</option>
      
    </select>
    <ul>
      <li *ngFor="let category of menuCategories" >
        <h4 class="li-principal">{{ category }}</h4>
        <ul class="menu-columns">
          <li *ngFor="let menuItem of menuData[category]" style="list-style-type: none;">
            <input type="checkbox" id="{{menuItem.Name}}" [checked]="isSelected(menuItem.Name)" (change)="toggleSelection(menuItem.Name)">

            <label for="{{menuItem.Name}}">
            {{   menuItem.Name }}
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <button  type="button" class="btn btn-outline-light" routerLink="/principal"><i class="bi bi-arrow-left"></i>Volver</button>
  <button  type="button" class="btn btn-outline-light">Limpiar selección</button>
  <button (click)="enviarSeleccion()" type="button" class="btn btn-outline-light">Enviar selección</button>

</div>

</div>
